#links{
width:20%;
float: left;
background-color: aqua;
}

#midden{
width: 60%;
float: left;
background-color: yellow;
}

#rechts{
width:20%;
float: right;
background-color: red;
}

body {
    background-color: yellow;
  }

  foto1{
      width: 20px;
  }